<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>appClass</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/sweetalert2.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/initial.css">
</head>
<body>
    <!--Inicio nav-->
    <div class="content">
        <div class="row" id="nav">
            <h1 class ="col-md-3" id="title">AppClass</h1>
            <button id="signout" class="col-md-2 col-md-offset-7">Sair</button>
        </div>
    </div>
    <!--Fim nav-->

    <!--Inicio sidebar-->
    <center>
    <div id="sidebar" class="col-md-2"></div>
    </center>
    <!--Fim sidebar-->

 <center>
    <div class="row">
        <div class="col-md-2 col-md-offset-3" >
            <input id="subject" type="text">
            <button id="createElement" class="btn btn-default" >Adicionar Matéria</button>
        </div>
    </div>
 </center>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/sweetalert2.min.js"></script>
<script src="../static/behavior.js"></script>

</body>
</html>